* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.main {
    background-image: url(img/TR-tr-20231120-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-size: max(1200px, 100vw);
    height: 644px;
    background-repeat: no-repeat;

    position: relative;
}

.main .box {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: black;
    height: 644px;
    opacity: 0.5;
}

.main .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 30px;
    height: 100%;
}

.main .hero h1 {
    font-size: 48px;
    text-align: center;
    font-weight: bolder;
}

.main .hero .hero-first {
    font-size: 24px;
    font-weight: 400px;
    text-align: center;
}

.main .hero .hero-second {
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
}

.hero .hero-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.hero .hero-buttons button {
    padding: 8px 24px;
    font-size: 20px;
}

.hero .hero-buttons input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    outline: none;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgb(179, 179, 179);
    border-radius: 4px;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    margin: auto;
    height: 100px;
}

.logo img {
    width: 130px;
}

.header .buttons,
.logo {
    z-index: 10;
}

.btn {
    padding: 3px 8px;
    margin-right: 4px;
    background-color: rgba(248, 243, 243, 0.01);
    color: white;
    outline: none;
    border: 1px solid white;
    font-size: 16px;
    border-radius: 4px;
}

.btn-red {
    background-color: red;
}

.seperation {

    border: 3px solid rgb(54, 54, 54);
}

/*Filmler Alani*/
.first {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
}

.first .secImg {
    position: relative;
}

.first .secImg img {
    width: 555px;
    position: relative;
}

.first .secImg video {
    position: absolute;
    right: 70px;
    top: 75px;
}

.first .left h1 {
    font-size: 48px;
    font-weight: bold;
}

.first .left p {
    font-size: 24px;
    margin-top: 16px;
}

@media (max-width:1200px) {
    .first {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }


}

/* Sikca Sorulan Sorular */

.faq {
    padding: 32px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq .faqbox {
    background-color: #272727;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: 34px auto;
    max-width: 60vw;
}

.faq .faqbox:hover {
    background-color: rgb(23, 23, 23);
}

.footer{
    max-width: 60vw;
    margin:auto;
    margin-bottom: 100px;
}

.footer .questions{
    text-align: center;
    padding: 34px 0;
    font-style:24px;

}

.footer .footer-list{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.footer .footer-list .footer-item{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .footer-list .footer-item a{
    color: white;
    font-size: 20px;
}